div img {
	display: block;
	width: 100%;
 }
 
.blobscontainer {
 margin: 0vh;
 height: 650px;
 overflow: hidden;
 color: #fff	;
}
.loading_cont {
 width: 100%;
 height: 100%;
 background: rgb(231, 231, 231);
 /* background: -webkit-linear-gradient(left top, #152a8e, #b1376c);
 background: -o-linear-gradient(bottom right, #152a8e, #b1376c);
 background: -moz-linear-gradient(bottom right, #152a8e, #b1376c);
 background: linear-gradient(to bottom right, #152a8e, #b1376c); */
}
.loading_cont:before {
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0;
 top: 0px;
 /* background: url(https://next.atcom.gr/StaticData/Landing2017/Content/Media/dots-transparent.png) repeat scroll center center; */
 opacity: 0.05;
 z-index: 0;
}

#loader {
	display: inline-block;
	position: relative;
	width: 800px;
	height: 800px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -400px;
}

rect {
 -webkit-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
}

.blobs {
 -webkit-filter: url("#goo");
 filter: url("#goo");
}
.mapoverlay{
	fillOpacity: 0.3;
   }
.blob {
	fill: white;
}

.myessioncontainer{
	position: "relative";
	-ms-transform: scale(.4); /* IE 9 */
	-ms-transform-origin: 0 0;
	-moz-transform: scale(.4); /* Firefox */
	-moz-transform-origin: 0 0;
	-o-transform: scale(.4); /* Opera */
	-o-transform-origin: 0 0;
	-webkit-transform: scale(.4); /* Safari And Chrome */
	-webkit-transform-origin: 0 0;
	transform: scale(.4); /* Standard Property */
	transform-origin: 0 0;  /* Standard Property */
	width: 300px;
	height: 700px;
	fill-opacity: 30%;
	background: lightgrey;
}