.usercardfrontcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em;
  justify-content: center;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". mynumber mynumber  ."
    "user1 user2 user3 ."
    "user4 user5 user6 ."
    "user7 user8 user9 ."
}

.otherusers {
  justify-self: center;
  align-self: center;
  grid-area: Shape-of-others;
}
.mynumber {
  grid-area: mynumber;
  /* justify-self: center;
  align-self: center; */
  background-color: cornflowerblue;
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user1 {
  grid-area: user1;
  /* justify-self: center;
  align-self: center; */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  /* background-color: red; */
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user2 {
  grid-area: user2;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  background-color:tomato;
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user3 {
  grid-area: user3;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  background-color:steelblue;
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user4 {
  grid-area: user4;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  background-color:palegreen;
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user5 {
  grid-area: user5;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  background-color: palegreen;
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user6 {
  grid-area: user6;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  background-color: palegreen;
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user7 {
  grid-area: user7;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  /* background-color: tomato; */
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.user8 {
  grid-area: user8;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  background-color: palegreen;
  place-items: center;
  margin: 0;
  border-radius: 3px;
}
.user9 {
  grid-area: user9;
  /* align-self: center;  */
  /* font-size: 20pt; */
  forced-color-adjust: initial;
  background-color: steelblue;
  place-items: center;
  margin: 0;
  border-radius: 3px;
  border: 1px solid;
}

.myscore {
  grid-area: myscore;
  justify-self: center;
  align-self: center;
}
.mygrade {
  grid-area: mygrade;
  justify-self: center;
  align-self: center;
}
.myplayedrounds {
  grid-area: myplayedrounds;
  justify-self: center;
  align-self: center;
}
.myshape {
  grid-area: myshape;
  justify-self: center;
  align-self: center;
}
