.headerblock1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .headerblock2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .headerblock3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .headerblock4 {
    grid-area: 1 / 4 / 2 / 5;
  }
  .headerblock5 {
    grid-area: 1 / 5 / 2 / 6;
  }
     